<mat-card style="height: 100%">
  <div class="table-container">
    <table
      *ngIf="gifts$ && gifts$ | async as gifts"
      mat-table
      [dataSource]="gifts"
    >
      <ng-container matColumnDef="sender">
        <th mat-header-cell *matHeaderCellDef>ユーザー</th>
        <td mat-cell *matCellDef="let element">{{ element.sender }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>ギフト</th>
        <td mat-cell *matCellDef="let element" style="vertical-align: middle">
          <img
            *ngIf="element.icon"
            [src]="element.icon"
            [alt]="element.name"
            height="32px"
          />
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>数</th>
        <td mat-cell *matCellDef="let element" style="text-align: right">
          {{ element.count }}
        </td>
      </ng-container>

      <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef>ポイント</th>
        <td mat-cell *matCellDef="let element" style="text-align: right">
          {{
            element.type === 'point'
              ? (element.point * element.count | number)
              : ''
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="smile">
        <th mat-header-cell *matHeaderCellDef>スマイル</th>
        <td mat-cell *matCellDef="let element" style="text-align: right">
          {{
            element.type === 'smile'
              ? (element.point * element.count | number)
              : ''
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
